<a href="https://colab.research.google.com/github/DurjoyKumar1/18-11-2023AdsterraClone/blob/main/Assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ans OF Q1:
Print() function can print any thing what include inside of first bracket. In here print() function will print the list Price_list.

If there were 1000 items in the list, print() function also print all the items inside Price_list.

#Ans of Q2:

Given that,
Price_list = ["Banana", 5.00, "Mango", 20.00, "Apple", 15.00, "Papaya", 25.00, "Guava", 15.00]  
print(Price_list[0])

To print Guava  15.00 on the screen, we need to change index value inside the print() function. we need to replace 8:10 with 0, what I mentioned bellow by code.

In [ ]:
Price_list = ["Banana", 5.00, "Mango", 20.00, "Apple", 15.00, "Papaya", 25.00, "Guava", 15.00]
print(Price_list[8:10])

['Guava', 15.0]

#Ans of Q3:

In [ ]:
Price_list = ["Banana", 5.00, "Mango", 20.00, "Apple", 15.00, "Papaya", 25.00, "Guava", 15.00]
print(Price_list[0:len(Price_list)])

['Banana', 5.0, 'Mango', 20.0, 'Apple', 15.0, 'Papaya', 25.0, 'Guava', 15.0]

I used only one time print statement for showing Price_list on the screen.

#Ans of question 4

The program will print:
Banana
5.0
Mango
20.0
Apple
15.0
Papaya
25.0
Guava
15.0

#Ans of question 5

**for:** In here for is used as loop for do the same work.

**i:** i is used as index value inside the range

**range:**range is used to declare limitation of how many time run for loop.

**0:**0 is the initial value of range.

**10:** 10 is used for fixed how many time for loop run. Basically for loop was run one time less then the final value.

#Ans of Q7

When we run the program there will show the list index out of range error. Because inside of print function we take i+1. where maximum value of i is 9 and initial value 0. and Price_list item is 10. It will print properly if maximum item inside the list and index value is equal or less. When index value will i+1, then it should print more one value from Price_list. which is not possible. So, if we want to run this program properly then we need to exclude +1 from i+1.

#Ans of Q8

In [ ]:
Price_list = ["Banana", 5.00, "Mango", 20.00, "Apple", 15.00, "Papaya", 25.00, "Guava", 15.00]
print("Price List:")
print("-----------")
for i in range(0, 10, 2):
  print(Price_list[i],Price_list[i+1])

Price List:
-----------
Banana 5.0
Mango 20.0
Apple 15.0
Papaya 25.0
Guava 15.0

In this case, we fixed 2 as step of index value inside range. Here maximum value of i is 8. That's why when i+1 was used as index value, the maximum value was 9, which is exist in the list Price_list. That's why it was run properly but for ver1 index value is out of range.

#Ans of Q9

The range function(0,10,2) work better in this case because here we fixed 2 as step of index value inside range. Here maximum value of i is 8. That's why when i+1 was used as index value, the maximum value was 9, which is exist in the list Price_list. That's why it was run properly and works better.